/*style for sliders*/

body {
    font-size: 16px;
    font-family: 'Noto Serif', serif;
    font-size: 16px;
    font-weight: 400; 
}

h2 {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 2em; 
}

li {
    display: inline; 
}

a {
    color: #6B2F46;
    font-family: 'Karla', sans-serif;
    font-size: .9em; 
}

a:hover {
    text-decoration: none;
    color: #511433; 
}

.right {
    float: right; 
}


/*SLIDER*/
.news-slider {
  /* Style the actual content */
}

.news-slider .text-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.slide-one {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1em;
    width: 100%;
    height: 20%;
    text-align: center; 
}

.slide-two {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1em;
    width: 30%;
    height: 100%;
}

text-content h2 {
    font-size: 1.5em; 
}

text-content {
    font-size: .9em; 
}

.news-slider .text-content h2 {
  margin: 0;
}

.news-slider .text-content p {
  margin: 1em 0;
}

.news-slider .text-content a.button-link {
  padding: 0.25em 0.5em;
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.news-slider .image-content {
  line-height: 0;
}

.news-slider .image-content img {
  max-width: 100%;
}

.news-slider .news-pager {
  text-align: right;
  display: block;
  margin: 0.2em 0 0;
  padding: 0;
  list-style: none;
}

.news-slider .news-pager li {
  display: inline-block;
  padding: 0.6em;
  margin: 0 0 0 1em;
}

.news-slider .news-pager li.sy-active a {
  color: #6B2F46;
}

.news-slider .news-pager li a {
  font-weight: 500;
  text-decoration: none;
  display: block;
  color: #000000;
}

/*HOVER*/
.popbox {
    display: none;
    position: absolute;
    top: 10%;
    left: 30%; 
    z-index: 99999;
    width: 400px;
    padding: 10px;
    background: #EEEFEB;
    color: #000000;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
    box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
}

.popbox h2 {
    background-color: #4D4F53;
    color: #E3E5DD;
    font-size: 14px;
    display: block;
    width: 100%;
    margin: -10px 0px 8px -10px;
    padding: 5px 10px;
}

.box {
    position: absolute;
    background: gray;
    opacity: 0.5; 
    width: 8em;
    height: 10em;
}

.box-one {
    top: 8%;
    left: 35%;
}

.box-two {   
    top: 8%;
    left: 53%;
}

.box-three {
    top: 8%;
    left: 72%; 
}

.box-four {
    top: 38%;
    left: 35%;
}

.box-five {   
    top: 38%;
    left: 53%;
}

.box-six {
    top: 38%;
    left: 72%; 
}

.box-seven {
    top: 68%;
    left: 35%;
}

.box-eight {   
    top: 68%;
    left: 53%;
}

.box-nine {
    top: 68%;
    left: 72%; 
}


/*CREDITS*/
.credits {
    padding-bottom: 20px; 
}

.credits-title {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    color: #000000; 
}

.credits a {
    color: #6B2F46;
    font-family: 'Noto Serif', serif;
    font-size: .9em; 
}

.credits a:hover {
    text-decoration: none;
    color: #511433; 
}




