/*style for sliders*/

body {
    font-size: 16px;
    font-family: 'Noto Serif', serif;
    font-size: 16px;
    font-weight: 400; 
}

h2 {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 2em; 
}

li {
    display: inline; 
}

a {
    color: #6B2F46;
    font-family: 'Karla', sans-serif;
    font-size: .9em; 
}

a:hover {
    text-decoration: none;
    color: #511433; 
}

.right {
    float: right; 
}


/*SLIDER*/
#slider {
    margin-top: 20px; 
}

.slide-one, .slide-three{
    padding: 1em;
    width: 100%;
    height: 20%;
    text-align: center; 
}

.slide-two {
    padding: 1em;
    width: 30%;
    height: 100%;
}

.news-slider {
  /* Style the actual content */
}

.news-slider .text-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

text-content h2 {
    font-size: 1.5em; 
}

text-content {
    font-size: .9em; 
}

.news-slider .text-content h2 {
  margin: 0;
}

.news-slider .text-content p {
  margin: 1em 0;
}

.news-slider .text-content a.button-link {
  padding: 0.25em 0.5em;
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.news-slider .image-content {
  line-height: 0;
}

.news-slider .image-content img {
  max-width: 100%;
}

.news-slider .news-pager {
  text-align: right;
  display: block;
  margin: 0.2em 0 0;
  padding: 0;
  list-style: none;
}

.news-slider .news-pager li {
  display: inline-block;
  padding: 0.6em;
  margin: 0 0 0 1em;
}

.news-slider .news-pager li.sy-active a {
  color: #6B2F46;
}

.news-slider .news-pager li a {
  font-weight: 500;
  text-decoration: none;
  display: block;
  color: #000000;
}

/*HOVER SLIDE 2*/
.popbox {
    display: none;
    position: absolute;
    top: 55%;
    left: 0%; 
    z-index: 99999;
    width: 15em;
    color: #000000;
    margin: 20px;
}

.popbox h2 {
    color: #6B2F46; 
    text-transform: uppercase;
    font-size: 1.5em; 
    display: block;
    width: 100%;
    margin: -10px 0px 8px -10px;
    padding: 5px 10px;
}

.box {
    position: absolute;
    background: gray;
    opacity: 0.5; 
    width: 12%;
    height: 25%;
}

.box-one {
    top: 8%;
    left: 46%;
}

.box-two {   
    top: 8%;
    left: 64%;
}

.box-three {
    top: 8%;
    left: 82%; 
}

.box-four {
    top: 37%;
    left: 46%;
}

.box-five {   
    top: 37%;
    left: 64%;
}

.box-six {
    top: 37%;
    left: 82%; 
}

.box-seven {
    top: 66%;
    left: 46%;
}

.box-eight {   
    top: 66%;
    left: 64%;
}

.box-nine {
    top: 66%;
    left: 82%; 
}

/*BUTTONS SLIDE 3*/
.button-west, .button-east, .button-indian {
    display: none;
    position: absolute;
    z-index: 99999;
    width: 15em;
    color: #000000;
    margin: 20px;
}

.button-west {
    top: 60%;
    left: 10%; 
}

.button-east {
    top: 35%;
    left: 29%; 
}

.button-indian {
    top: 65%;
    left: 61%; 
}

.button-west h2 {
    color: #6B2F46; 
    text-transform: uppercase;
    font-size: 1em; 
    display: block;
}

.button-east h2 {
    color: #6B2F46; 
    text-transform: uppercase;
    font-size: 1em; 
    display: block;
}

.button-indian h2 {
    color: #6B2F46; 
    text-transform: uppercase;
    font-size: 1em; 
    display: block;
}

.map-button {
    position: absolute; 
    background-color: #6B2F46;
    border-radius: 50px;
    width: 10px;
    height: 10px; 
}

.button-argentina {
    top: 73%;
    left: 30%; 
}

.button-cali {
    top: 39%;
    left: 16%; 
}

.button-chile {
    top: 77%;
    left: 28%;
}

.button-france {
    top: 36%;
    left: 48%; 
}

.button-portugal {
    top: 40%;
    left: 45%;
}

.button-spain {
    top: 38%;
    left: 46%;
}

.button-germany {
    top: 34%;
    left: 49%; 
}

.button-italy {
    top: 39%;
    left: 51%;
}

.button-sa {
    top: 77%;
    left: 54%; 
}

.button-auz {
    top: 79%;
    left: 85%;
}

/*CREDITS*/
.credits {
    padding-bottom: 20px; 
}

.credits-title {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    color: #000000; 
}

.credits a {
    color: #6B2F46;
    font-family: 'Noto Serif', serif;
    font-size: .9em; 
}

.credits a:hover {
    text-decoration: none;
    color: #511433; 
}




